
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503211393814'); /* IE9*/
  src: url('iconfont.eot?t=1503211393814#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503211393814') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503211393814') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503211393814#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\e601"; }

.icon-tumblr:before { content: "\e64e"; }

.icon-xiangji:before { content: "\e723"; }

.icon-birdxiaoniao:before { content: "\e736"; }

.icon-facebookicon:before { content: "\e66e"; }

.icon-weibo:before { content: "\e637"; }

.icon-youtube:before { content: "\e9ca"; }

.icon-xiaoren:before { content: "\e7c1"; }

.icon-jiantou-:before { content: "\e618"; }

.icon-right-arrow:before { content: "\e64f"; }

.icon-menu:before { content: "\e60a"; }

